
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Product>

<a asp-controller="product" asp-action="add">Add Product</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stok</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody></tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stok</td>
            <td>
                <a 
                    asp-controller="product" @*first*@
                    asp-action="remove" @*herhangi bir method ismi*@
                    asp-route-id="@item.Id">
                    Delete
                </a>
                </td>
            <td>
                <a
                    asp-controller="product" 
                    asp-action="update"
                    asp-route-id="@item.Id">
                    Update
                </a>
            </td>
        </tr>
    }
    
</table>
