@using hafta3.ViewModels

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@if (TempData["status"] != null)
{
    <div class="alert alert-success">
        @TempData["status"]
    </div>
}

@model List<ProductViewModel>

<a asp-controller="product" asp-action="add">Add Product</a>
<table>
    <thead>
        <tr>
            <th>Id</th> 
            <th>Name</th>
            <th>Price</th>
            <th>Stok</th>
            <th>Color</th>
            <th>Action</th>
            <th>Expire</th>
            <th>Description</th>
            <th>PublishDate</th>
        </tr>
    </thead>

    <tbody></tbody>
    @foreach (var item in Model)
    { 
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stok</td>
            <td>@item.Color</td>
            <td>@item.isPublished</td>
            <td>@item.Expire</td>
            <td>@if (item.Description.Length > 25) { @item.Description.Substring(0,25) <text>...</text>}
                else {@item.Description}
            </td>
            <td>@item.PublishedDate</td>
            <td>
                <a 
                    asp-controller="product" @*first*@
                    asp-action="remove" @*herhangi bir method ismi*@
                    asp-route-id="@item.Id">
                    Delete
                </a>
                </td>
            <td>
                <a
                    asp-controller="product" 
                    asp-action="update"
                    asp-route-id="@item.Id">
                    Update
                </a>
            </td>
        </tr>
    }
    
</table>
